@import 'css/main';
@import 'css/carousel';
@import 'css/productgrid';
.behclick-panel {
    .list-group {
        margin-bottom: 0px;
    }
    .list-group-item {
        &:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        border-right: 0px;
        border-left: 0px;
        padding: 5px;
        &:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    .panel-heading {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom: 1px solid darkslategrey;
    }
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    .radio {
        margin: 0px;
        padding-left: 10px;
    }
    .panel-title {
        >a {
            outline: none;
        }
    }
    .panel-body {
        >.panel-heading {
            padding: 10px 10px;
        }
        padding: 0px;
    }
    a {
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
}

.checkbox {
    margin: 0px;
    padding-left: 10px;
}

.panel-title {
    >small {
        outline: none;
        >a {
            outline: none;
        }
    }
    >.small {
        outline: none;
        >a {
            outline: none;
        }
    }
}

a {
    &:active {
        padding-top: 2px;
    }
    &:visited {
        border-bottom: 2px solid;
        padding: 3px;
        text-decoration: none;
    }
    &:focus {
        border-bottom: 2px solid;
        text-decoration: none;
    }
}

.link-white {
    border-bottom: 2px solid;
    color: #ffffff;
    text-decoration: none;
    &:hover {
        color: #bdc3c7;
        text-decoration: none;
    }
}

@import 'css/jumbotron';
@import 'css/footer';